html, body {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  background-color: #0B1924;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
