.generalContainer {
  margin-top: 30px;
  width: 100vw;
  height: 800px;
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  background-color: #0A2234;
}


.containerStyleTwitter {
  background-color: #0A2234;
  height: 100px;
}

.containerStyleTwitch {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(61, 55, 63, 0.411);
  border: 1px solid grey;
  height: 600px;
  width: 980px;
}



.containerStyleYouTube{
  display: flex;
  height:385px;
  width: 390px;
  justify-content: center;
  background-color: rgba(61, 55, 63, 0.411);
  border: 1px solid grey;
}

.show-button {
  font-size: 10px;
  color: white;
  width: 30px;
  height: 20px;
  border: 1px solid blue;
  background-color: transparent;
}

.footer {
  background-color: black;
  height: 200px;
  widows: 100vw;
}