.generalContainer {
  margin-top: 40px;
  width: 99vw;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20);
}


.containerStyleTwitter {
  height: 120px;
  position: relative;
  
}

.containerStyleTwitch {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #18181B;
  border: 1px solid rgb(59, 58, 58);
  height: 550px;
  width: 970px;
  position:relative;
}



.containerStyleYouTube{
  border-radius: 10px;
  display: flex;
  height:365px;
  width: 370px;
  margin-left: 8px;
  justify-content: center;
  position: relative;
  background-color: #18181B;
  border: 1px solid rgb(59, 58, 58);

}

.show-button {
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  width: 50px;
  height: 20px;
  border: none;
  background-color: transparent;
  position:absolute;
  top: 2px;
  left: 2px;
}

.show-button:hover {
  color:#5A4192;
  font-size: 14px;
}


.show-button:focus {
  outline: none;
  border: none;
}
.footer {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100px;
  widows: 100vw;
}

.closeComponent {
  color: rgb(88, 25, 25);
}

