
.tweetsList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(blue);
  display: flex;
  overflow-y: hidden;
  width: 1300px;
  height: 100px;
}

.tweetUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theTwitterContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}







