
.tweetsList {
  background-color: rgba(blue);
  display: flex;
  overflow-x: scroll;
  width: 90%;
  height: 120px;

}

/* .rollTwitter {
  height: 200px;
  display: flex;
  flex-direction: row;
} */



