
.tweetsList {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-y: hidden;
  width: 98%;
  height: 120px;
}

/* .tweetUser {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.theTwitterContainer {
  width: 99%;
  display: flex;
  justify-content: center;

}







