
.companyLogo {
    margin-top: 10px;
    width: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;

}

.followedList {
    width: 140px;
    height: 100vh;
    background-color: rgba(47, 27, 45, 0.486);
}