
.companyLogo {
    margin-top: 10px;
    width: 60px;
    margin-bottom: 10px;

}

.followedList {
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    height: auto;
    max-height: 580px;
    background-color: #18181B;
    border: 1px solid rgb(59, 58, 58);
  }

a {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a:hover {
    font-size: 12px;
    color: violet

}

.remove-btn {
    cursor: pointer;
    position: relative;
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: white;
}

.remove-btn:hover {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    border: none;
    background-color: transparent;
    
    color: red;
}
