.searchBarStyle {
    color: white;
    width: 120px;
    height: 25px;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    
}

.imputButton {
    color: white;
    width: 90px;
    height: 30px;
    background-color: transparent;
    border: none;  

}


