.searchBarStyle {
    color: white;
    width: 120px;
    height: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;

}

.searchBarStyle:focus {
    outline: none;
  
}

.imputButton {
    font-size: 14px;
    cursor: pointer;
    color: white;
    width: 90px;
    height: 30px;
    background-color: transparent;
    border: none;

}

.imputButton:focus {
    outline: none;
    border: none;
}

.imputButton:hover {
    font-size: 16px;
    color: violet;
}



.searchBarGeneral {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.favSearchBar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.searchContainer {
    background-color: rgb(25, 25, 27);
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
}

.favBtn {
    background: none;
    border: none;
}

.favsIcon {
    color: white;
}