.eachTweet {

    margin: 0px;
    height: 90px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 3px;
    background-color: #18181B;
    border: 1px solid rgb(59, 58, 58);
  
}


.eachTweet:hover {
    height: 100px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 3px;
    background-color: #18181B;
    border: 1px solid rgb(59, 58, 58);
}



.twitter-created{
    color: rgb(187, 176, 176);
    font-size: 10px;
    margin: 10px 10px 0px 10px;
    padding: 0;
}
.twitter-text{
    color: white;
    font-size: 12px;
    margin: 5px 10px 10px 10px;
    padding: 0;
}

